*{
  box-sizing: border-box;
}
.main_div{
  width: 100%;
  height: 100vh;
  background: #e2ebc8;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
  text-align: center;
}
.main_center{
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
h1{
  color: rgb(64, 37, 134);
  background: transparent;
  font-size: 100px;
  /* background-color: #232368;
  padding: 6px 0 2px 0;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5); */
}
input{
  text-align: center;
  height: 30px;
  top: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
button{
  min-height: 10px;
  border-radius: 5%;
  border-color: transparent;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 40px;
  box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.5);
}
button:hover{
  background-color: #22a6b3;
}
.button_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn_green{
  height: 50px;
}
.btn_red{
  height: 50px;

}
.btn_green:hover{
  color:green ;
}
.btn_red:hover{
  color: red;

}
